<div>
    <h1>Invoices</h1>
</div>
<div>
    <table class="table" *ngIf="listInvoices.length">
        <thead>
            <tr>
                <th>ID</th>
                <th>Creation Date</th>
                <th>Completion Date</th>
                <th>Payment deadline</th>
                <th>Grand total</th>
                <th>Incoming?</th>
                <th>Outgoing?</th>
                <th>Partner</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of listInvoices" (click)="showInvoice(invoice.id!)">
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.creationDate }}</td>
                <td *ngIf="invoice.completionDate != null;"> {{ invoice.completionDate }}
                <td *ngIf="invoice.completionDate == null;"> No data </td>
                <td>{{ invoice.paymentDeadline }}</td>
                <td>{{ invoice.grandTotal }}</td>
                <td>{{ invoice.outgoing  }}</td>
                <td>{{ invoice.incoming }}</td>
                <td>{{ invoice.partnerName }}</td>
                <td>{{ invoice.category }}</td>
            </tr>
        </tbody>
        
        <!-- <tfoot>
            <tr>
                <td colspan="9">Total: {{ listInvoices.length }}</td>
            </tr>
        </tfoot> -->

    </table>
    <div id="filter" [hidden]="!isHidden">
        <div>
            <label  for="start">Start date: </label>
            <input type="date" id="startDate" min="2022-01-01" max="2030-12-31" #startDate [(ngModel)]="filterName1">
        </div>
        <!-- <input type="text" id="textTest" > -->
        <div>
            <label for="end">End date:</label>
            <input type="date" id="endDate" min="2022-01-01" max="2030-12-31" #endDate [(ngModel)]="filterName2">
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="getInvoicesBetweenDatesByComplDate(startDate.value, endDate.value)">Search</button>
            <button type="button" class="btn btn-secondary" id="resetButton" (click)="resetTable()">Reset</button>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary" id="filterButton" (click)="setFilterVisible()">Filter</button>
    </div>

      
    <!-- <p>{{ listInvoices.length }} invoices found in the database.</p> -->
</div>
