<div>
    <h1>Invoices</h1>
</div>
<div>
    <table class="table" *ngIf="listInvoices.length">
        <thead>
            <tr>
                <th>ID</th>
                <th>Creation Date</th>
                <th>Completion Date</th>
                <th>Payment deadline</th>
                <th>Grand total</th>
                <th>Incoming?</th>
                <th>Outgoing?</th>
                <th>Partner</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of listInvoices" (click)="showInvoice(invoice.id!)">
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.creationDate }}</td>
                <td *ngIf="invoice.completionDate != null;"> {{ invoice.completionDate }}
                <td *ngIf="invoice.completionDate == null;"> No data </td>
                <td>{{ invoice.paymentDeadline }}</td>
                <td>{{ invoice.grandTotal }}</td>
                <td>{{ invoice.incoming }}</td>
                <td>{{ invoice.outgoing }}</td>
                <td>{{ invoice.partnerName }}</td>
                <td>{{ invoice.category }}</td>
            </tr>
        </tbody>
        
        <!-- <tfoot>
            <tr>
                <td colspan="9">Total: {{ listInvoices.length }}</td>
            </tr>
        </tfoot> -->

    </table>
    <div id="filter" [hidden]="isHidden">
        <form class="form-inline">
            <div class="col-1">
                <label class="sr-only" for="inlineFormInputID">ID</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputID" placeholder="TEST" #id
                >
            </div>
            <div>
                <p>Creation Date</p>
                <label  for="start">Start: </label>
                <input type="date" id="startCreationDate" min="2022-01-01" max="2030-12-31" #startCreationDate>
            
                <label for="end">End:</label>
                <input type="date" id="endCreationDate" min="2022-01-01" max="2030-12-31" #endCreationDate>
            </div>
            <div>
                <p>Completion Date</p>
                <label  for="start">Start:</label>
                <input type="date" id="startCompDate" min="2022-01-01" max="2030-12-31" #startCompDate>
            
                <label for="end">End:</label>
                <input type="date" id="endCompDate" min="2022-01-01" max="2030-12-31" #endCompDate>
            </div>
            <div>
                <p>Deadline</p>
                <label  for="start">Start: </label>
                <input type="date" id="startDeadlineDate" min="2022-01-01" max="2030-12-31" #startDeadlineDate>
            
                <label for="end">End:</label>
                <input type="date" id="endDeadlineDate" min="2022-01-01" max="2030-12-31" #endDeadlineDate>
            </div>
            <div>
                <label>Sum minimum</label>
                <input type="number" id="minLimit" name="minLimit" min="0" max="300000000" #minLimit>
            </div>
            <div>
                <label>Sum maximum</label>
                <input type="number" id="maxLimit" name="maxLimit" min="0" max="300000000" #maxLimit>
            </div>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="incoming" #incoming>
                    <label class="form-check-label" for="inlineRadio1">Incoming</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="outgoing" #outgoing>
                    <label class="form-check-label" for="inlineRadio2">Outgoing</label>
                  </div>
            </div>
            <div class="dropdown">
                <label for="partnerName" id="partnerName">Restaurant name:</label> 
                <select id="partnerSelector" class="form-select" #partnerSelector>
                    <option value="">-- Select a partner --</option>
                    <option value="Big Company">Big Company</option>
                    <option value="Big">Big Company</option>
                    <option value="Smol Company">Smol Company</option>
                </select>
            </div>
            <div class="dropdown">
                <label for="categoryName" id="categoryName">Category name:</label> 
                <select id="categorySelector" class="form-select" #categorySelector>
                    <option value="">-- Select a category --</option>
                    <option value="Flat rent">Flat rent</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Travel">Travel</option>
                    <option value="Wages">Wages</option>
                    <option value="Tax">Tax</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="getInvoicesByAll(id.value, startCreationDate.value, endCreationDate.value, startCompDate.value, endCompDate.value, startDeadlineDate.value, endDeadlineDate.value, minLimit.value, maxLimit.value, incoming.checked, outgoing.checked, partnerSelector.value, categorySelector.value )">Search</button>
                
                <button type="button" class="btn btn-secondary" id="resetButton" (click)="resetTable()">Reset</button>
            </div>
        </form>
    </div>        

    </div>
    <div>
        <button type="button" class="btn btn-primary" id="filterButton" (click)="setFilterVisible()">Filter</button>
    </div>

      
    <!-- <p>{{ listInvoices.length }} invoices found in the database.</p> -->
<!-- </div> -->
