<h2>Invoice info</h2>
<hr>
<div *ngFor="let invoice of invoiceInfo">
    <p><strong>ID: </strong>{{ invoice.id }}</p>
    <p><strong>Creation Date: </strong>{{ invoice.creationDate }}</p>
    <p><strong>Completion Date: </strong>{{ invoice.completionDate }}</p>
    <p><strong>Payment deadline: </strong>{{ invoice.paymentDeadline }}</p>
    <p><strong>Grand total: </strong>{{ invoice.grandTotal }}</p>
    <p><strong>Incoming?: </strong>{{ invoice.incoming  }}</p>
    <p><strong>Outgoing?: </strong>{{ invoice.outgoing }}</p>
    <p><strong>Partner ID: </strong>{{ invoice.partnersId }}</p>
    <p><strong>Categories ID: </strong>{{ invoice.categoriesId }}</p>
    <hr>
</div>
<a routerLink="/invoices" routerLinkActive="active">Back to invoices</a>
