/* You can add global styles to this file, and also import other style files */
/* #container {
    display: flex;
}
.col {
    width: 100%;
    width: 50%;
} */

/* .invoices_table {
    border-collapse: collapse;
    width: 450px;
}
.invoices_table, .invoices_table th, .invoices_table td {
    border: 1px solid #000;
}
.invoices_table th, .invoices_table td {
    padding: 10px;
}
.invoices_table > caption {
    caption-side: bottom;
    margin-top: 20px;
}
.invoices_table th {
    background-color: black;
    color: white;
}
.invoices_table tfoot {
    background-color: #ccc;
}
.invoices_table tbody tr:hover {
    background-color: #666;
    color: white;
    cursor: pointer;
}
.invoices_table tbody tr:nth-child(even) {
    background-color: #999;
} */